body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f8fb;
    color: rgba(27, 39, 71, 1); /* color2 with 100% opacity */
}

.App {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(4, 50, 172, 0.2); /* color2 with 20% opacity */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
}

ul, li {
    padding: 0;
    margin: 0;
    list-style-type: none; /* Remove bullets (dots) from lists */
}


.city,
#numberOfEvents input {
    width: calc(100% - 20px);
    padding: 10px;
    font-size: 16px;
    margin-bottom: 10px;
    border-radius: 8px;
}

.suggestion {
    list-style: none;
    padding: 0;
    margin: 0;
}

.suggestion li {
    padding: 10px;
    cursor: pointer;

}

.suggestion li:hover {
    background-color: #c9d1ff; /* color5 */
}

.suggestion {
    list-style: none;
    padding: 0;
    margin: 0;
}

.suggestion li {
    padding: 10px;
    cursor: pointer;
    font-size: 14px; /* Set your desired font size */
}

/* Add this specific style for "See all cities" */
.suggestion li b {
    font-size: 12px; /* Set your desired font size */
}


.event {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    margin-bottom: 10px;
    padding: 10px;
    position: relative;
    border-radius: 15px;
}

.showDetailsButton {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #495997; /* color3 */
    color: #fff;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    border-radius: 8px;
}

.showDetailsButton:hover {
    background-color: #8492f2; /* color4 */
}

.details {
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    background-color: #f9f9f9;
    border-radius: 15px;
}

.alerts-container {
    position: fixed;
    top: 0px;
    left: 20px;
    width: 250px;
    z-index: 1000;
}

.color1 {
    color: #000000;
}

.color2 {
    color: #1b2747;
}

.color3 {
    color: #495997;
}

.color4 {
    color: #8492f2;
}

.color5 {
    color: #c9d1ff;
}

#numberOfEvents {
    margin-bottom: 20px;
    margin-top: 20px; /* Add margin-top to create space above the section */
}

.charts-container {
    display: grid;
    width: 100%;
    height: auto;
    margin: 20px 10px 25px 10px;
    grid-template-columns: 1fr 1fr;
}


